<!-- nav 系列鏡框三個選項的元件-->
<nav>
  <div class="container">
    <ul class="d-flex">
      <li class="nav_item js_product_navbar_item">
        <a href="./frame-opt.html" class="nav_item_content d-flex d-jcc">
          <span class="nav_pic mr-025">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-diamond-black.svg"
              alt="diamond icon"
            >
          </span>
          OPTICAL
        </a>
      </li>
      <li class="nav_item js_product_navbar_item">
        <a href="./frame-sun.html" class="nav_item_content d-flex d-jcc">
          <span class="nav_pic mr-025">
            <img 
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-sun-black.svg"
              alt="sun icon"
            >
          </span>
          SUNGLASSES
        </a>
      </li>
      <li class="nav_item js_product_navbar_item">
        <a href="./frame-fun.html" class="nav_item_content d-flex d-jcc">
          <span class="nav_pic mr-025">
            <img 
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-thunder-black.svg"
              alt="thunder icon"
            >
          </span>
          FUNCTIONAL
        </a>
      </li>
    </ul>
  </div>
</nav>