//h2 標題設定
.faq_title{
  margin: 96px 0 60px 0;
  font-weight: bold;
  padding-left: 16px;
  border-left: solid 8px $secondary;
  @include breakpoint(pad992){
    font-size: 48px;
    margin: 60px 0 40px 0;
  }
  @include breakpoint(phone767){
    font-size: 28px;
    padding-left: 8px;
    border-left: solid 4px $secondary;
    margin: 28px 0 24px 0;
  }
}

.faq_subtitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 36px;
  @include breakpoint(pad992){
    margin-bottom: 32px;
  }
  @include breakpoint(phone767) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.faq_page_content {
  h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    @include breakpoint(phone767){
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
  .faq_answer {
    padding: 0 0 32px 80px;
    @include breakpoint(pad992){
      padding: 0 0 24px 60px;
    }
    @include breakpoint(phone767){
      padding: 0 0 20px 0;
      font-size: 14px;
      &_down{
        padding-bottom: 16px;
      }
    }
  }
}
.faq_content_marginBottom{
  margin-bottom: 128px;
  @include breakpoint(pad992){
    margin-bottom: 72px;
  }
  @include breakpoint(phone767){
    margin-bottom: 36px;
  }
}