// nav  系列鏡框三個選項的元件的scss

nav {
    .nav_item {
    width: 34%;
    border-left: solid 1px $bordColor;
    border-bottom: solid 1px $bordColor;
    border-right: solid 1px $bordColor;
    &_content {
      border-bottom: solid 8px transparent;
      font-size: 32px;
      font-weight: bold;
      color: black;
      padding: 20px 0 13px;
      &:hover {
        border-bottom-color: $secondary;
        transition-duration: .3s;
        cursor: pointer;  
      }
      @include breakpoint(pad992){
        font-size: 22px;
        padding: 14px 0 6px 0;
      }
      @include breakpoint(phone767){
        font-size: 14px;
        padding: 8px 0 1px 0;
      }
    }
    & .nav_pic {
      width: 44px;
      height: 44px;
      @include breakpoint(pad992){
        width: 32px;
        height: 32px;
      }
      @include breakpoint(phone767){
        width: 20px;
        height: 20px;
      }
      @include breakpoint(mobile375){
        width: 16px;
        height: 16px;
      }
    }
  }
}

//格子內的內距
//mobile-ms(576)
@include mobile-ms{
  
  nav .nav_item a {
    padding: 10px 10px;
  }
}

//mobile-s(403)
@include mobile-s{
  
  nav .nav_item a {
    padding: 10px 0;
  }
}

// banner 圖片能自適應最主要的設定
// .nav_banner .nav_banner_item{
//   width: calc(100% / 2 );
//   .nav_banner_pic {
//     height: 100%;
//     width: 100%;
//   }
// }

// 另一種做法 Tori 寫的
.nav_banner .nav_banner_item{
  width: 50%;
  height: 304px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  @include breakpoint(phone767){
    height: 184px;
  }
  .nav_banner_pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint(pad992){
      width: 150%;
    }
    @include breakpoint(phone767){
      width: 150%;
    }
  }
}

// 下底線紅色 8px
.border-bottom-secondary{
  border-bottom: solid 8px $secondary;
}