// nav  系列鏡框三個選項的元件的scss

nav .nav {
  border-left: 2px solid $bordColor;
  .nav_item {   //li 
    width: 34%;
    border: 2px solid $bordColor;
    cursor: pointer; 
    border-top: none;
    border-left: none;
    border-bottom: none;

    &_content {  //a
      border-bottom: 8px solid transparent;
      font-size: 32px;
      font-weight: bold;
      color: black;
      padding: 20px 0;

      @include breakpoint(pad992){
        font-size: 22px;
        padding: 14px 0 18px 0;
      }

      @include breakpoint(phone767){
        font-size: 14px;
        padding: 18px 0 20px;
      }
      &:hover{
        border-bottom: 8px solid $secondary;
      }
    }
    &.active{
      border-bottom: 8px solid $secondary;
    }

    & .nav_pic {
      width: 44px;
      height: 44px;
      @include breakpoint(pad992){
        width: 32px;
        height: 32px;
      }
      @include breakpoint(phone767){
        width: 20px;
        height: 20px;
      }
      @include breakpoint(mobile375){
        width: 16px;
        height: 16px;
      }
    }
  }
}



// banner 圖片能自適應最主要的設定
// .nav_banner .nav_banner_item{
//   width: calc(100% / 2 );
//   .nav_banner_pic {
//     height: 100%;
//     width: 100%;
//   }
// }

// 另一種做法 Tori 寫的
.nav_banner .nav_banner_item{
  width: 50%;
  height: 304px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  @include breakpoint(phone767){
    height: 184px;
  }
  .nav_banner_pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint(pad992){
      width: 150%;
    }
    @include breakpoint(phone767){
      width: 150%;
    }
  }
}

