//區塊的下邊距(各版型)
.pagination{
  margin-bottom: 160px;
  @include breakpoint(pad992){
    margin-bottom: 96px;
  }
  @include breakpoint(phone767){
    margin-bottom: 30px;
  }
}
// 區塊的置中及大小(二種版型)
.pagination_form{
  width: 50%;
  margin: 0 auto;

  @include breakpoint(phone767){
    width: 100%;
  }
}

.pagination_label{
  border: 1px solid $bordColor-frame-1;
  display: block;
  &:hover{
    color: #fff;
    background: $bordColor-frame-1;
    cursor: pointer;
  }
}

// li 容器
.pagination_item {
  @include breakpoint(pad992){
    flex: 2 0 auto;
    text-align: center;
  }
}

// 連結
.pagination_link{
  display: none;
  &:checked + .pagination_label{
    color: #fff;
    background: $bordColor-frame-1;
  }
}

// 連結數字 1.2.3.4.5
.pagination_link_num{
  font-size: $font-special-3;  //18
  line-height: 1.5;
  padding: 9.5px 16px;

  @include breakpoint(pad992){
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint(phone767){
    font-size: $font-size-1;  //16
  }
}

// 連結文字 上一頁 、下一頁
.pagination_link_text{
  font-size: $font-special-1;  //19
  line-height: 1.53;
  padding: 8.5px 12px;

  @include breakpoint(pad992){
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(phone767){
    font-size: $font-special-2;  //17
  }
}

.pagination_item:last-child{
  background: $bordColor;
}